@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Domine';
    src: url('fonts/Domine-Regular.ttf')
}

* {
    box-sizing: border-box;
}

header, h1, h2, h3, .domine-font{
    font-family: 'Domine';
}

p, .roboto-font {
    font-family: 'Roboto';
    text-align: center;
}

ul {
    list-style-type: none;
}

h3 {
    font-size: 24px;
    text-align: center;
}

body {
    background: url('./images/mount-rainier.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: 262626;
    margin-right: auto;
    margin-left: auto;
}

header {
    margin-top: 30px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    padding: 10px;
}

label {
    padding: 10px 20px;
    margin: auto;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 0;
    margin-bottom: 0;
}

.result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.result-page {
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1 1;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    max-width: 90%;
}

h3, p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.trail-img {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border-radius: 3px;
}

.trail-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

input[type='text'] {
    padding: 10px 20px;
    margin: auto;
    margin-right: 10px;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background:white ;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

input[type='submit'] {
    padding: 10px 20px;
    margin: auto;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(122, 145, 125);
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.image-size {
    width: 90%;
    max-width: 250px;
    padding: 5px;
    border-radius: 3px;
    background-color: black;
}

.map-size {
    width: 90%;
    max-width: 300px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(122, 145, 125);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.search-term {
    display: flex;
    flex: 1 1; 
    max-width: 150px; 
}

#results-list {
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-list {
    padding: 10px;
    max-width: 300px;
    background-color: rgb(122, 145, 125);  
    border-radius: 3px; 
    margin-bottom: 10px;
    border: 1px solid rgb(24, 56, 30);
}

@media screen and (min-width: 400px) {

    .image-size {
        max-width: 500px;
    }

    .map-size {
        max-width: 500px;
    }

    .search-term {
        max-width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    
    .search-term {
        max-width: 600px;
    }

    #results-list {
        max-width: 1500px;
    }

    .result-page {
        max-width: 1000px;
    }

 
    .trail-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        margin-bottom: 20px;
    }
}

